<div>
  <!-- heading -->
  <div>
    <h1 class="title text-blue-300 font-semibold text-center" id="type-writer">
      Busca un servicio B2B y compara precios al instante...
    </h1>
  </div>

  <div class="flex justify-center">
    <hr class="border-gray-300 border-2 w-1/2 mt-4" />
  </div>

  <!--  sub heading -->
  <div class="animate-fade-up">
    <div>
      <h2 class="text-center text-gray-500 mt-8">
        <ng-icon name="bootstrapTrophy" class="text-yellow-400" /> Encuentra los
        mejores precios para los servicios que tu empresa necesita
      </h2>
      <div class="flex justify-center">
        <div class="text-center text-gray-500 mt-4">
          <p>
            <ng-icon name="bootstrapSearch" /> Compara precios en segundos y
            ahorra en cada decisión B2B
          </p>
          <p>
            <ng-icon name="bootstrapGraphUp" /> Miles de empresas ya usan
            PriceLinkr para tomar mejores decisiones. Únete hoy.
          </p>
        </div>
      </div>
    </div>

    <!--  how it works-->
    <div class="mt-8 items-center">
      <h3 class="flex justify-center">
        <ng-icon name="bootstrapRocketTakeoffFill" />
        ¿Cómo funciona?
      </h3>

      <div class="mt-2 flex justify-center flex-col items-center">
        <h4 class="font-semibold text-gray-500 flex items-center">
          <ng-icon name="bootstrap1SquareFill" />
          <span class="ml-2"> Busca un servicio 🛠️ </span>
        </h4>
        <ul class="text-center flex flex-col items-center">
          <li>
            <ng-icon name="bootstrapDot" />
            Escribe el servicio que necesitas (Ej. "Publicidad digital",
            "Desarrollo web", "Logística") y selecciona tu ubicación.
          </li>
        </ul>
      </div>

      <div class="mt-2 flex justify-center flex-col items-center">
        <h4 class="text-gray-500 font-semibold">
          <ng-icon name="bootstrap2SquareFill" /> Compara precios y proveedores
          📈
        </h4>
        <ul class="text-center flex flex-col items-center">
          <li>
            <ng-icon name="bootstrapDot" />

            Accede a precios actualizados y revisa las valoraciones de otros
            negocios
          </li>
        </ul>
      </div>

      <div class="mt-2 flex justify-center flex-col items-center">
        <h4 class="text-gray-500 font-semibold">
          <ng-icon name="bootstrap3 SquareFill" /> Elige la mejor opción para tu
          empresa 🤝
        </h4>
        <ul class="text-center flex flex-col items-center">
          <li>
            <ng-icon name="bootstrapDot" />

            Contacta directamente con proveedores o guarda alertas de precios.
          </li>
          <li>
            <ng-icon name="bootstrapDot" /> Empieza gratis y optimiza tus costos
            ahora.
          </li>
        </ul>
      </div>
    </div>

    <!-- why costumers have to use PriceLinkr -->
    <div class="mt-8 items-center">
      <h4 class="flex justify-center">🎯 ¿Por qué usar PriceLinkr?</h4>

      <div class="mt-2 flex justify-center flex-col items-center">
        <p>✅ Precios actualizados en tiempo real 🔄</p>
        <ul>
          <li>Basados en fuentes de datos abiertas y análisis de mercado.</li>
        </ul>
      </div>

      <div class="mt-2 flex justify-center flex-col items-center">
        <p>✅ Análisis de tendencias 📊</p>
        <ul>
          <li>
            Conoce si los precios suben o bajan en tu sector antes de contratar.
          </li>
        </ul>
      </div>

      <div class="mt-2 flex justify-center flex-col items-center">
        <p>✅ Comparación rápida y sencilla ⚡</p>
        <ul>
          <li>Olvídate de perder tiempo buscando proveedores.</li>
        </ul>
      </div>

      <div class="mt-2 flex justify-center flex-col items-center">
        <p>✅ Confianza y transparencia 🤝</p>
        <ul>
          <li>Opiniones y rankings de empresas reales.</li>
        </ul>
      </div>
    </div>

    <!-- which areas you can find -->
    <div class="mt-8 flex justify-center flex-col items-center">
      <h4>📌 Encuentra servicios en áreas como:</h4>

      <div class="mt-2">
        <ul class="list-disc">
          <li>Marketing y publicidad</li>
          <li>Consultoría empresarial</li>
          <li>Tecnología y desarrollo web</li>
          <li>Logística y transporte</li>
          <li>Servicios legales y contabilidad</li>
        </ul>
      </div>
    </div>

    <!-- optimize costs -->
    <div class="mt-8 flex justify-center">
      <div class="flex-col">
        <h4 class="flex justify-center">🔥 Optimiza tus costos hoy mismo</h4>

        <ul class="mt-2 flex justify-center flex-col">
          <li>
            🚀 Regístrate GRATIS en PriceLinkr y empieza a comparar precios al
            instante.
          </li>
          <li>
            📩 Sin compromiso. Sin pagos ocultos. Solo decisiones más
            inteligentes.
          </li>
        </ul>
      </div>
    </div>

    <!-- register button -->
    <div class="flex flex-row items-center justify-center">
      <button
        type="button"
        class="px-2 py-1 border-2 border-blue-300 rounded-lg bg-blue-300 mt-8 cursor-pointer hover:bg-blue-200"
        [routerLink]="'/register'"
      >
        Regístrate ya!
      </button>
      <button
        type="button"
        class="px-2 py-1 border-2 border-blue-300 rounded-lg bg-blue-300 mt-8 ml-4 cursor-pointer hover:bg-blue-200"
      >
        Ya estás registrado? Inicia sesión!
      </button>
    </div>
  </div>
</div>
