/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/index.css";

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  @apply mt-4;
}

.title {
  @apply text-4xl;
}

body {
  background-color: white;
  color: #111827;
  font-family: Poppins, "sans-serif";
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-up {
  animation: fade-up 1s ease-out forwards;
}

.pricelinkr-button {
  padding: 0.25rem 0.5rem;
  border: 2px solid #93c5fd;
  border-radius: 0.5rem;
  background-color: #93c5fd;
  cursor: pointer;
  transition: background-color 0.2s;
  color: white;
}

.pricelinkr-button:hover {
  background-color: #bfdbfe;
}

button {
  @apply cursor-pointer;
}
